<a href="https://colab.research.google.com/github/Anam-AI-555/PANDAS_Practice/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [39]:
data = {
    'Employee_ID': [101, 102, 103, 104, 105, 102, 106, 107],
    'Name': ['Ali Khan', 'Sara Ahmed', ' John  Doe ', None, 'Ayesha Khan', 'Sara Ahmed', 'Imran Ali', '  sana malik '],
    'Age': [25, 30, 27, None, 22, 30, 999, 26],
    'Department': ['Sales', 'HR', 'IT', 'Finance', 'HR', 'HR', 'Sales', 'sales'],
    'Salary': ['50000', '$55000', '60000', '52000', 'missing', '$55000', '58000', '49000'],
    'Join_Date': ['2021-05-10', '05/12/2020', 'wrong_date', '2020-11-20', '2021-02-25', '05/12/2020', '2019-09-10', '2021-01-15'],
    'City': ['faisalabad', 'Lahore', 'Karachi', 'islamabad', 'Lahore', 'Lahore', 'Fsd', ' karachi']
}

df = pd.DataFrame(data)
df.to_csv('employees_dirty.csv', index=False)
print("✅ File 'employees_dirty.csv' created.")

✅ File 'employees_dirty.csv' created.

In [40]:
df

,Employee_ID,Name,Age,Department,Salary,Join_Date,City
0,101,Ali Khan,25.0,Sales,50000,2021-05-10,faisalabad
1,102,Sara Ahmed,30.0,HR,$55000,05/12/2020,Lahore
2,103,John Doe,27.0,IT,60000,wrong_date,Karachi
3,104,None,NaN,Finance,52000,2020-11-20,islamabad
4,105,Ayesha Khan,22.0,HR,missing,2021-02-25,Lahore
5,102,Sara Ahmed,30.0,HR,$55000,05/12/2020,Lahore
6,106,Imran Ali,999.0,Sales,58000,2019-09-10,Fsd
7,107,sana malik,26.0,sales,49000,2021-01-15,karachi

# Check for missing values. Find how many missing values each column has.

In [5]:
df.isnull() # that returns boolean value where True means null value and false means not null value

   Employee_ID   Name    Age  Department  Salary  Join_Date   City
0        False  False  False       False   False      False  False
1        False  False  False       False   False      False  False
2        False  False  False       False   False      False  False
3        False   True   True       False   False      False  False
4        False  False  False       False   False      False  False
5        False  False  False       False   False      False  False
6        False  False  False       False   False      False  False
7        False  False  False       False   False      False  False

In [8]:
df.isnull().sum()  # that tells the sum of null values in each coloumns

Employee_ID    0
Name           1
Age            1
Department     0
Salary         0
Join_Date      0
City           0
dtype: int64

# Fill missing Age or Salary with mean/median.

In [41]:
# Remove $ sign and 'missing' text
df['Salary'] = df['Salary'].replace('[$,]', '', regex=True)
df['Salary'] = df['Salary'].replace('missing', None)

# Convert to numeric
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

In [44]:
df['Age'].mean()

np.float64(165.57142857142858)

In [42]:
df.loc[df['Age'].isnull(), 'Age'] = df['Age'].mean()
df.loc[df['Salary'].isnull(), 'Salary'] = df['Salary'].mean()

In [43]:
df

,Employee_ID,Name,Age,Department,Salary,Join_Date,City
0,101,Ali Khan,25.000000,Sales,50000.000000,2021-05-10,faisalabad
1,102,Sara Ahmed,30.000000,HR,55000.000000,05/12/2020,Lahore
2,103,John Doe,27.000000,IT,60000.000000,wrong_date,Karachi
3,104,None,165.571429,Finance,52000.000000,2020-11-20,islamabad
4,105,Ayesha Khan,22.000000,HR,54142.857143,2021-02-25,Lahore
5,102,Sara Ahmed,30.000000,HR,55000.000000,05/12/2020,Lahore
6,106,Imran Ali,999.000000,Sales,58000.000000,2019-09-10,Fsd
7,107,sana malik,26.000000,sales,49000.000000,2021-01-15,karachi

In [45]:
df.isnull().sum()

Employee_ID    0
Name           1
Age            0
Department     0
Salary         0
Join_Date      0
City           0
dtype: int64

# Detect and remove duplicate rows.

In [46]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
dtype: bool

In [48]:
df.duplicated().sum()

np.int64(1)

In [49]:
df.drop_duplicates(inplace=True,keep='first')

In [50]:
df

,Employee_ID,Name,Age,Department,Salary,Join_Date,City
0,101,Ali Khan,25.000000,Sales,50000.000000,2021-05-10,faisalabad
1,102,Sara Ahmed,30.000000,HR,55000.000000,05/12/2020,Lahore
2,103,John Doe,27.000000,IT,60000.000000,wrong_date,Karachi
3,104,None,165.571429,Finance,52000.000000,2020-11-20,islamabad
4,105,Ayesha Khan,22.000000,HR,54142.857143,2021-02-25,Lahore
6,106,Imran Ali,999.000000,Sales,58000.000000,2019-09-10,Fsd
7,107,sana malik,26.000000,sales,49000.000000,2021-01-15,karachi

In [51]:
df['Join_Date']=pd.to_datetime(df['Join_Date'],errors='coerce')
df

,Employee_ID,Name,Age,Department,Salary,Join_Date,City
0,101,Ali Khan,25.000000,Sales,50000.000000,2021-05-10,faisalabad
1,102,Sara Ahmed,30.000000,HR,55000.000000,NaT,Lahore
2,103,John Doe,27.000000,IT,60000.000000,NaT,Karachi
3,104,None,165.571429,Finance,52000.000000,2020-11-20,islamabad
4,105,Ayesha Khan,22.000000,HR,54142.857143,2021-02-25,Lahore
6,106,Imran Ali,999.000000,Sales,58000.000000,2019-09-10,Fsd
7,107,sana malik,26.000000,sales,49000.000000,2021-01-15,karachi

# Correct Wrong Ages (like 999)

In [57]:
df.loc[df['Age']>100, 'Age']=df['Age'].median()

df

,Employee_ID,Name,Age,Department,Salary,Join_Date,City
0,101,Ali Khan,25.0,Sales,50000.000000,2021-05-10,faisalabad
1,102,Sara Ahmed,30.0,HR,55000.000000,NaT,Lahore
2,103,John Doe,27.0,IT,60000.000000,NaT,Karachi
3,104,None,27.0,Finance,52000.000000,2020-11-20,islamabad
4,105,Ayesha Khan,22.0,HR,54142.857143,2021-02-25,Lahore
6,106,Imran Ali,27.0,Sales,58000.000000,2019-09-10,Fsd
7,107,sana malik,26.0,sales,49000.000000,2021-01-15,karachi

In [59]:
from datetime import datetime
# Fill invalid Join_Date (NaT) with today’s date
df['Join_Date'].fillna(pd.Timestamp(datetime.today().date()), inplace=True)

# Remove spaces from Name
df['Name'] = df['Name'].str.strip()

# Capitalize Department & City
df['Department'] = df['Department'].str.title()
df['City'] = df['City'].str.title()

# Add Experience column
today = pd.Timestamp(datetime.today().date())
df['Experience (years)'] = (today - df['Join_Date']).dt.days / 365
df['Experience (years)'] = df['Experience (years)'].round(1)

# Verify results
print(df.head())
print(df.info())

# Average Salary by Department
avg_salary = df.groupby('Department')['Salary'].mean().reset_index()
print("\nAverage Salary by Department:")
print(avg_salary)

   Employee_ID         Name   Age Department        Salary  Join_Date  \
0          101     Ali Khan  25.0      Sales  50000.000000 2021-05-10
1          102   Sara Ahmed  30.0         Hr  55000.000000 2025-10-06
2          103    John  Doe  27.0         It  60000.000000 2025-10-06
3          104         None  27.0    Finance  52000.000000 2020-11-20
4          105  Ayesha Khan  22.0         Hr  54142.857143 2021-02-25

         City  Experience (years)
0  Faisalabad                 4.4
1      Lahore                 0.0
2     Karachi                 0.0
3   Islamabad                 4.9
4      Lahore                 4.6
<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 0 to 7
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Employee_ID         7 non-null      int64
 1   Name                6 non-null      object
 2   Age                 7 non-null      float64
 3   Department          7 non-null      object
 4   Salary              7 non-null      float64
 5   Join_Date           7 non-null      datetime64[ns]
 6   City                7 non-null      object
 7   Experience (years)  7 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 504.0+ bytes
None

Average Salary by Department:
  Department        Salary
0    Finance  52000.000000
1         Hr  54571.428571
2         It  60000.000000
3      Sales  52333.333333

/tmp/ipython-input-3360342393.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Join_Date'].fillna(pd.Timestamp(datetime.today().date()), inplace=True)